<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yo Mama</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Yo mama</h1>
    <div class ='col-md-r'>
      <ul style="list-style: none;">

        <!-- Loop through the dictionary -->
        
        {% for Result in Result %}
          <li>Joke: {{ Result.joke }}<li>
          <li>Compound Score: {{ Result.score }}</li>
          <li>Rating: {{Result.sentiment}}</li>
        {% endfor %}

      </ul>
    </div>
  </div>
</body>

</html>